<mat-card>
  <mat-card-title>Players</mat-card-title>
  <mat-card-content>

    <mat-nav-list>
      <mat-list-item *ngFor="let player of players$ | async">
        <a matLine [routerLink]="['/players/update', player.id]">{{player.firstName}} {{player.lastName}}</a>
        <button mat-icon-button (click)="delete(player)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>

    <a mat-button routerLink="/players/create">Add player</a>

  </mat-card-content>
</mat-card>
